.hero-section {
  background-color: var(--primary-color);
  color: #fff;
  margin-inline: 30px;
  margin-top: 30px;
  border-radius: 10px;
}

.hero-content {
  margin-top: 175px;
}

.hero-content p {
  font-family: "GraphikBold";
  font-size: 3.25rem;
  margin-top: 20px;
  padding-bottom: 145px;
  line-height: 120%;
}

@media (max-width: 480px) {
  .hero-section {
    margin-inline: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .hero-content {
    margin-top: 100px;
  }

  .hero-content p {
    font-size: 2rem;
  }
}